services:

  memos:
    image: ghcr.io/usememos/memos:latest
    container_name: memos
    ports:
      - "8200:5230"    
    init: true
    volumes:
      - ./memos/:/var/opt/memos
    restart: unless-stopped   

